{% extends layout is defined and layout ? layout : "@Admin/layout.html.twig" %}

{% block title %}{{ title|trans }}{% endblock %}

{% block content %}

    <div class="page">
        <div class="page-header">
            <h2>
                <i class="fa fa-edit"></i>{{ title | trans }}
            </h2>
        </div>
        {{ form_start(form, {'style': 'horizontal'}) }}
        <div class="page-body">
            {% block form_fields %}
                {{ form_widget(form) }}
            {% endblock %}
        </div>
        <div class="page-footer">
            {% if form.save is not defined %}
                <div class="form-actions">
                    {% block form_actions %}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check"></i>
                            {{ 'admin.form.save' | trans }}
                        </button>
                        {% if route_exists('@index') %}
                            <a href="{{ admin_path('@index') }}" class="btn btn-default">
                                <i class="fa fa-reply"></i>
                                {{ 'admin.form.cancel' | trans }}
                            </a>
                        {% endif %}
                        {% if route_exists('@delete') %}
                            <a href="{{ admin_path('@delete', entity) }}" class="btn btn-danger"
                               onclick="return confirm('{{ 'admin.confirm.delete' | trans }}')">
                                <i class="fa fa-remove"></i>
                                {{ 'admin.form.delete' | trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
