{% extends layout is defined and layout ? layout : "@Admin/layout.html.twig" %}

{% import '@Admin/field.html.twig' as _field %}

{% block title %}{{ title|trans }}{% endblock %}

{% block content %}

    <div class="page">

        <div class="page-header">
            <div class="float-end">
                {% block actions %}
                    {% if route_exists('@new') %}
                        <a class="btn btn-success btn-sm" href="{{ admin_path('@new') }}">
                            <span class="far fa-plus"></span>
                            {{ 'admin.action.add'|trans }}
                        </a>
                    {% endif %}
                {% endblock %}
            </div>
            <h2>
                <i class="fa fa-edit"></i>{{ title | trans }}
            </h2>
        </div>

        <div class="page-body">
            {% block search %}
                {% if search %}
                    <div class="search">
                        {{ form_start(search) }}
                        <div class="input-group">
                            {% for filter in search %}
                                {{ form_widget(filter) }}
                            {% endfor %}
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm">
                            <i class="far fa-search"></i>
                            <span class="btn-text">{{ 'admin.search.go'|trans }}</span>
                        </button>
                    </span>
                        </div>
                        {{ form_end(search) }}
                    </div>
                {% endif %}
            {% endblock %}

            {% if not paginator|length %}
                <p class="alert alert-default">{{ 'admin.list.emtpty'|trans }}</p>
            {% else %}

                {% block table %}
                    <table class="table table-hover dataTable list">
                        {% if list is defined %}
                            <thead>
                            <tr>
                                {% for field in list %}
                                    {% if field.sortable %}
{#                                        <th class="{{ paginator.isSorted(field.alias) ? ('sorting_' ~ paginator.direction|lower) : 'sorting' }}">#}
{#                                            {{ knp_pagination_sortable(paginator, field.label | trans, field.alias) }}#}
{#                                        </th>#}
                                    {% else %}
                                        <th>
                                            {{ field.label |trans }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                                <th></th>
                            </tr>
                            </thead>
                        {% endif %}
                        <tbody>
                        {% for entity in paginator %}
                            {% block list_entity %}
                                <tr>
                                    {% block list_entity_fields %}
                                        {% if list %}
                                            {% for field in list %}
                                                <td>
                                                    {% if block(field.name ~ '_field') is defined %}
                                                        {{ block(field.name ~ '_field') }}
                                                    {% else %}
                                                        {{ _field.render(field, entity) }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        {% else %}
                                            <td>{{ entity }}</td>
                                        {% endif %}
                                    {% endblock %}
                                    <td nowrap class="text-right object-actions">
                                        <div class="btn-group">
                                            {% block object_actions %}

                                                {% if route_exists('@show') %}
                                                    <a class="btn btn-sm btn-info" href="{{ admin_path('@show', entity) }}"
                                                       title="{{ 'admin.action.show'|trans }}">
                                                        <i class="far fa-eye"></i>
                                                        <span class="d-lg-inline d-none">{{ 'admin.action.show'|trans }}</span>
                                                    </a>
                                                {% endif %}

                                                {% if route_exists('@edit') %}
                                                    <a class="btn btn-sm btn-success" href="{{ admin_path('@edit', entity) }}"
                                                       title="{{ 'admin.action.edit'|trans }}">
                                                        <i class="far fa-edit"></i>
                                                        <span class="d-lg-inline d-none">{{ 'admin.action.edit'|trans }}</span>
                                                    </a>
                                                {% endif %}

                                                {% if route_exists('@delete') %}
                                                    <a class="btn btn-sm btn-danger"
                                                       href="{{ admin_path('@delete', entity) }}"
                                                       onclick="return confirm('{{ 'admin.confirm.delete' | trans }}')"
                                                       title="{{ 'admin.action.delete'|trans }}">
                                                        <i class="far fa-trash"></i>
                                                        <span class="d-lg-inline d-none">{{ 'admin.action.delete'|trans }}</span>
                                                    </a>
                                                {% endif %}

                                            {% endblock %}
                                        </div>
                                    </td>
                                </tr>
                            {% endblock %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}

            {% endif %}

            {% if paginator|length %}
                <div class="navigation">
                    {{ pagerfanta(paginator) }}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
