{% extends layout is defined and layout? layout : "@Admin/layout.html.twig" %}

{% import '@Admin/field.html.twig' as _field %}

{% block title %}{{ title|trans }}{% endblock %}

{% block content %}

<div class="page">
    <div class="page-header">
        <i class="fa fa-edit"></i>{{ title | trans }}
        {#<div class="card-actions">#}
        {#<a href="#" class="btn-setting"><i class="icon-settings"></i></a>#}
        {#<a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>#}
        {#<a href="#" class="btn-close"><i class="icon-close"></i></a>#}
        {#</div>#}
    </div>
    <div class="page-block">
        {% block show %}
            <table class="table">
                {% for field in show %}
                    <tr>
                        <td>
                            {{ field.label|trans }}
                        </td>
                        <td>
                            {{ _field.render(field, entity) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
    <div class="page-footer">
        <div class="form-action">
            {% block form_actions %}
                {% if route_exists('@index') %}
                    <a href="{{ admin_path('@index') }}" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                        {{ 'admin.form.cancel'|trans }}
                    </a>
                {% endif %}

                {% if route_exists('@edit') %}
                    <a class="btn btn-success" href="{{ admin_path('@edit', entity) }}"
                       title="{{ 'admin.form.edit'|trans }}">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                        {{ 'admin.form.edit'|trans }}
                    </a>
                {% endif %}

                {% if route_exists('@delete') %}
                    <a class="btn btn-danger" href="{{ admin_path('@delete', entity) }}"
                       title="{{ 'admin.form.delete'|trans }}">
                        <i class="ace-icon fa fa-remove bigger-120"></i>
                        {{ 'admin.form.delete'|trans }}
                    </a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>



{% endblock %}
