.navbar-brand img {display: inline-block;}
.bootstrap-datetime .bootstrap-time {margin-left: 30px;}
.bootstrap-date, .bootstrap-time {display: inline-block; margin-right: 20px;}
.bootstrap-datetime select, .bootstrap-datetime input {width: auto; display: inline-block;}
.profile-info-name {width: 200px;}

.inline {
    display: inline-block;
}

.wysiwyg {
    height: 400px;
}

#list-actions {margin-bottom: 15px;}

.object-actions .btn-text { display: none; }
