{% macro render(field, entity) %}

    {% set type = field.type(entity) %}
    {% set value = field.value(entity) %}

    {% if value %}

        {% if field.template %}
            {% include field.template with {entity: entity} %}
        {% elseif field.route %}
            {% set route = field.routeConfig(entity) %}
            {% if route is iterable and route.name is not defined %}
                <ul class="list-inline">
                    {% for r in route %}
                        <li>
                            <a href="{{ admin_path(r.name, r.params) }}">
                                {{ r.text|apply_filter(field.filter) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <a href="{{ admin_path(route.name, route.params) }}">
                    {{ route.text|apply_filter(field.filter) }}
                </a>
            {% endif %}
        {% elseif field.filter %}
            {{ field.value(entity)|apply_filter(field.filter) }}
        {% else %}
            {% if field.type(entity) == 'boolean' %}
                {% if value %}
                    <div class="label label-success">{{ 'admin.field.yes'|trans }}</div>
                {% else %}
                    <div class="label label-danger">{{ 'admin.field.no'|trans }}</div>
                {% endif %}
            {% elseif field.type(entity) == 'datetime' %}
                {{ value | date() }} {# TODO use format_datetime #}
            {% elseif value is iterable %}
                {{ value | join(', ') }}
            {% else %}
                {{ value }}
            {% endif %}
        {% endif %}

    {% endif %}

{% endmacro %}