﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %} - система администрирования</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic" type='text/css'>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body %}
    <body class="app header-fixed sidebar-md-show sidebar-fixed aside-menu-fixed aside-menu-hidden">

    {% block navbar %}
        {% include '@Admin/Default/navbar.html.twig' %}
    {% endblock %}

    <div class="app-body">

        {% block sidebar %}
            {% include '@Admin/Default/sidebar.html.twig' %}
        {% endblock %}

        <main class="main">

            <!-- Breadcrumb -->
            {# TODO implement breadcrumbs #}
{#            <ol class="breadcrumb">#}
{#                <li class="breadcrumb-item">Home</li>#}
{#                <li class="breadcrumb-item"><a href="#">Admin</a></li>#}
{#                <li class="breadcrumb-item active">Dashboard</li>#}

{#                <!-- Breadcrumb Menu-->#}
{#                <li class="breadcrumb-menu d-md-down-none">#}
{#                    <div class="btn-group" role="group" aria-label="Button group">#}
{#                        <a class="btn" href="#"><i class="icon-speech"></i></a>#}
{#                        <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>#}
{#                        <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>#}
{#                    </div>#}
{#                </li>#}
{#            </ol>#}

            <br>

            <div class="container-fluid">
                {% include '@Admin/flash.html.twig' ignore missing %}
                {% block content '' %}
            </div>
        </main>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    </body>
{% endblock %}
</html>