{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-danger">
        Это сообщение тут потому что вы администратор и вошли в аккаунт другого пользователя.
        <a href="{{ path('admin_user', {'_switch_user': '_exit'}) }}">
            <i class="fa fa-lock"></i>
            Вернуться в админку!
        </a>
    </div>
{% endif %}

