<nav class="sidebar-nav">
    <ul class="nav">
        {% for item in menu.items %}
        <li class="nav-item {{ item.active ? 'open' }}">
            <a class="nav-link {{ item.active ? 'active' }}" href="{{ path(item.menu.route) }}">
                <i class="{{ item.menu.icon }}"></i>
                {{ item.menu.label }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
