<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">
{#        <img src="/img/logo.png" height="40" alt="`Logo">#}
    </a>

    <ul class="nav navbar-nav d-md-down-none">
    </ul>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="d-md-down-none">{{ app.user }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                {#{% if is_granted('ROLE_USER') %}#}
                {#<a class="dropdown-item" href="{{ path('user_profile') }}"><i class="fa fa-file"></i> Профиль</a>#}
                {#{% endif %}#}
                {#{% if is_granted('ROLE_ADMIN') %}#}
                {#<a class="dropdown-item" href="{{ path('admin_profile') }}"><i class="fa fa-file"></i> Профиль</a>#}
                {#{% endif %}#}
                <div class="divider"></div>
                <a class="dropdown-item" href="{{ logout_path('main') }}"><i class="fa fa-lock"></i> Выйти</a>
            </div>
        </li>
    </ul>
</header>
